:link{
    margin-left: 10px;
    border: 2px solid;
    border-radius: 5px;
}

a{
    text-decoration: none;
    color: rgb(0, 0, 255);
    font-size: 1.2em;
    font-weight: bold;
}

h1{
    color: rgb(230, 0, 0);
    font-size: 2em;
    font-weight: bold;
}

p{
    color: rgb(230, 0, 0);
    font-size: 1.2em;
    line-height: 1.5;
}

input{
    color: rgb(230, 0, 0);
}

table{
    border-collapse: collapse;
    width: 100%;
}

td, th{
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}   